<template>
  <section class="fb-slide">
    <section><h1>Flexbox</h1></section>

    <section>
      <h2>Even Distribution</h2>
      <div class="box">
        <div class="col">
          <p class="faded smaller">CSS</p>
          <pre><code class="hljs css">
.container {
  display: flex;
}

.box {
  flex: 1;
}
          </code></pre>
        </div>
        <div class="col">
          <p class="smaller faded">HTML</p>
          <pre><code class="hljs html">
<div class="container">
  <div class="box">A</div>
  <div class="box">B</div>
</div>
          </code></pre>
        </div>
      </div>
      <div class="sample-1">
        <div class="container">
          <div class="box">A</div>
          <div class="box">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Distribution by Ratio</h2>
      <div class="box">
        <div class="col">
          <p class="faded smaller">CSS</p>
          <pre><code class="hljs css">
.container {
  display: flex;
}

.box { flex: 1; }

.box-big { flex: 2; }
          </code></pre>
        </div>
        <div class="col">
          <p class="smaller faded">HTML</p>
          <pre><code class="hljs html">
<div class="container">
  <div class="box">A</div>
  <div class="box-big">B</div>
</div>
          </code></pre>
        </div>
      </div>
      <div class="sample-2">
        <div class="container">
          <div class="box">A</div>
          <div class="box-big">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Directionality Changes</h2>
      <div class="box">
        <div class="col">
          <p class="faded smaller">CSS</p>
          <pre><code class="hljs css">
.container {
  display: flex;
  flex-direction: column;
}

.box { flex: 1; }
          </code></pre>
        </div>
        <div class="col">
          <p class="smaller faded">HTML</p>
          <pre><code class="hljs html">
<div class="container">
  <div class="box">A</div>
  <div class="box">B</div>
</div>
          </code></pre>
        </div>
      </div>
      <div class="sample-3">
        <div class="container">
          <div class="box">A</div>
          <div class="box">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Content Justification</h2>
      <div class="box">
        <div class="col">
          <p class="faded smaller">CSS</p>
          <pre><code class="hljs css">
.container {
  display: flex;
  height: 10vh;
  align-items: flex-end;
}

.box { flex: 1; }
          </code></pre>
        </div>
        <div class="col">
          <p class="smaller faded">HTML</p>
          <pre><code class="hljs html">
<div class="container">
  <div class="box">A</div>
  <div class="box">B</div>
</div>
          </code></pre>
        </div>
      </div>
      <div class="sample-4">
        <div class="container">
          <div class="box">A</div>
          <div class="box">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Content Fill</h2>
      <div class="box">
        <div class="col">
          <p class="faded smaller">CSS</p>
          <pre><code class="hljs css">
.container {
  display: flex;
  height: 10vh;
}

.box { flex: 1; }
          </code></pre>
        </div>
        <div class="col">
          <p class="smaller faded">HTML</p>
          <pre><code class="hljs html">
<div class="container">
  <div class="box">A</div>
  <div class="box">B</div>
</div>
          </code></pre>
        </div>
      </div>
      <div class="sample-5">
        <div class="container">
          <div class="box">A</div>
          <div class="box">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>OMG Such Center</h2>
      <div class="box">
        <div class="col">
          <p class="faded smaller">CSS</p>
          <pre><code class="hljs css">
.container { display: flex; height: 10vh; }

.box {
  flex: 1;
  align-items: center;
}
          </code></pre>
        </div>
        <div class="col">
          <p class="smaller faded">HTML</p>
          <pre><code class="hljs html">
<div class="container">
  <div class="box">A</div>
  <div class="box">B</div>
</div>
          </code></pre>
        </div>
      </div>
      <div class="sample-6">
        <div class="container">
          <div class="box">A</div>
          <div class="box">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Strengths</h2>
      <p class="fragment fade-in-then-semi-out">
        No more manually calculating width/heights
      </p>
      <p class="fragment fade-in-then-semi-out">
        Trivializes 'responsiveness' with media queries
      </p>
      <p class="fragment fade-in-then-semi-out">
        Vertical centering is easy!!!1!
      </p>
      <p class="fragment fade-in-then-semi-out">
        But seriously, vertically centering things
      </p>
      <p class="fragment fade-in-then-semi-out">
        Lots of other features we don't have time for
      </p>
    </section>

    <section>
      <h2>Support</h2>
      <p>Largely safe to use!</p>
      <p class="smaller faded">
        Evergreen Browsers (Edge, Firefox, Chrome, etc)
      </p>
      <p class="smaller faded">
        IE 11 (some hacks required, mostly for columns)
      </p>
      <p class="smaller faded">IE 10 (requires browser prefix -ms-)</p>
    </section>

    <section>
      <h2>Learn More</h2>
      <p>
        What the Flexbox?! <br />
        <a target="blank" href="http://flexbox.io">http://flexbox.io</a>
      </p>
      <p>
        Guide to Flexbox <br />
        <a
          target="blank"
          href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
        >
          https://css-tricks.com/snippets/css/a-guide-to-flexbox/
        </a>
      </p>
    </section>
  </section>
</template>

<style lang="scss">
.fb-slide {
  .container {
    width: 99%;
    border: 1px solid white;
    padding: 5px;

    .box,
    .box-big,
    .box-rest {
      border: 1px solid #333;
      background-color: #e3e3e3;
      color: black;
      justify-content: center;
    }
  }

  .sample-1 {
    .container {
      display: flex;
    }

    .box {
      flex: 1;
    }
  }

  .sample-2 {
    .container {
      display: flex;
    }

    .box {
      flex: 1;
    }

    .box-big {
      flex: 2;
    }
  }

  .sample-3 {
    .container {
      display: flex;
      flex-direction: column;
    }

    .box {
      flex: 1;
    }
  }

  .sample-4 {
    .container {
      display: flex;
      height: 10vh;
      align-items: flex-end;
    }

    .box {
      flex: 1;
    }
  }

  .sample-5 {
    .container {
      display: flex;
      height: 10vh;
    }

    .box {
      flex: 1;
    }
  }

  .sample-6 {
    .container {
      display: flex;
      height: 10vh;
    }

    .box {
      flex: 1;
      align-items: center;
    }
  }
}
</style>
