<template>
  <section class="grid-slide">
    <section><h1>CSS Grid</h1></section>

    <section>
      <h2>Defining a Grid</h2>
      <pre><code class="hljs css">
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
  box-sizing: border-box;
  border: 1px solid white;
}
          </code></pre>
      <pre><code class="hljs html">
<div class="container">
  <div class="cell">A</div>
  <div class="cell-b">B</div>
  <div class="cell-c">C</div>
</div>
          </code></pre>
    </section>

    <section>
      <h2>Grid Auto Flow</h2>
      <pre><code class="hljs css">
/* Just Kidding, no additional CSS Needed */
      </code></pre>
      <div>
        <div class="container">
          <div>A</div>
          <div>B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Manual &amp; Flow</h2>
      <pre><code class="hljs css">
.cell {
  grid-column: 2;
}
      </code></pre>
      <div class="sample-1">
        <div class="container">
          <div class="cell">A</div>
          <div class="cell-b">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Manual Cell Placement</h2>
      <pre><code class="hljs css">
.cell {
  grid-column: 3;
  grid-row: 2;
}

.cell-b {
  grid-column: 1;
  grid-row: 1;
}
      </code></pre>
      <div class="sample-2">
        <div class="container">
          <div class="cell">A</div>
          <div class="cell-b">B</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Spanned Placement</h2>
      <pre><code class="hljs css">
.cell {
  grid-column: 3;
  grid-row: 1/3;
}

.cell-b {
  grid-column: 1;
  grid-row: 2;
}

.cell-c {
  grid-column: 2;
  grid-row: 1;
}
      </code></pre>
      <div class="sample-3">
        <div class="container">
          <div class="cell">A</div>
          <div class="cell-b">B</div>
          <div class="cell-c">C</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Grid Area Definition</h2>
      <pre><code class="hljs css">
.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "...... top top"
    "island bot bot";
}
          </code></pre>
      <pre><code class="hljs html">
<div class="container">
  <div class="cell">A</div>
  <div class="cell-b">B</div>
  <div class="cell-c">C</div>
</div>
          </code></pre>
    </section>

    <section>
      <h2>Area Placement</h2>
      <pre><code class="hljs css">
.cell {
  grid-area: island;
}

.cell-b {
  grid-area: top;
}

.cell-c {
  grid-area: bot;
}
      </code></pre>
      <div class="sample-4">
        <div class="container">
          <div class="cell">A</div>
          <div class="cell-b">B</div>
          <div class="cell-c">C</div>
        </div>
      </div>
    </section>

    <section>
      <h2>Strengths</h2>
      <p class="fragment fade-in-then-semi-out">Powerful layout abstraction</p>
      <p class="fragment fade-in-then-semi-out">
        Media queries can redefine areas or the whole grid!
      </p>
      <p class="fragment fade-in-then-semi-out">Beastmode for tile wrapping</p>
      <p class="fragment fade-in-then-semi-out">Cells can be flexboxes</p>
      <p class="fragment fade-in-then-semi-out">Many many more features</p>
    </section>

    <section>
      <h2>Support</h2>
      <p>With caution, or targetted platforms only for now.</p>
      <p class="smaller faded">Initial support shipped in 2017</p>
      <p class="smaller faded">Evergreen Browsers are mostly consistent</p>
      <p class="smaller faded">
        IE10 and 11 support an <i>old</i> version of the spec
      </p>
    </section>

    <section>
      <h2>Learn More</h2>
      <p>
        CSS Grid <br />
        <a target="blank" href="https://cssgrid.io/">https://cssgrid.io/</a>
      </p>
      <p>
        Guide to CSS Grid <br />
        <a
          target="blank"
          href="https://css-tricks.com/snippets/css/complete-guide-grid/"
        >
          https://css-tricks.com/snippets/css/complete-guide-grid/
        </a>
      </p>
    </section>
  </section>
</template>

<style lang="scss">
.grid-slide {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    width: 99%;

    & > div {
      background-color: #e3e3e3;
      color: black;
      box-sizing: border-box;
      border: 1px solid #333;
    }
  }

  .sample-1 {
    .cell {
      grid-column: 2;
    }
  }

  .sample-2 {
    .cell {
      grid-column: 3;
      grid-row: 2;
    }

    .cell-b {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .sample-3 {
    .cell {
      grid-column: 3;
      grid-row: 1/3;
    }

    .cell-b {
      grid-column: 1;
      grid-row: 2;
    }

    .cell-c {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .sample-4 {
    .container {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
        "...... top top"
        "island bot bot";
    }

    .cell {
      grid-area: island;
    }

    .cell-b {
      grid-area: top;
    }

    .cell-c {
      grid-area: bot;
    }
  }
}
</style>
