<template>
  <section>
    <section><h1>Helpful Tools &amp; Links</h1></section>

    <section>
      <h2>CSS-Tricks</h2>
      <p>
        <a target="blank" href="http://css-tricks.com">http://css-tricks.com</a>
      </p>
      <iframe class="stretch" data-src="http://css-tricks.com"></iframe>
    </section>

    <section>
      <h2>Can-I-Use</h2>
      <p><a target="blank" href="http://caniuse.com">http://caniuse.com</a></p>
      <iframe class="stretch" data-src="http://caniuse.com"></iframe>
    </section>

    <section>
      <h2>Chrome Devtools</h2>
      <p>
        <a
          target="blank"
          href="https://developers.google.com/web/tools/chrome-devtools/device-mode/"
          >https://developers.google.com/web/tools/chrome-devtools/device-mode/</a
        >
      </p>
    </section>

    <section>
      <h1>Thank You! Questions?</h1>
      <p class="smaller faded">
        Slides (with links and examples) can be found here:<br />
        <a target="blank" href="https://tinyurl.com/mobile-web-presentation"
          >https://tinyurl.com/mobile-web-presentation</a
        >
      </p>
    </section>
  </section>
</template>
