<template>
  <section>
    <section><h1>Media Queries</h1></section>
    <section>
      <h2>Example</h2>
      <pre><code class="hljs css">
/* Phone Only Type Media-Query */
@media (min-width: 1px) and (max-width: 769px) {
  body {
    font-size: 25rem;
  }
}
      </code></pre>
    </section>
    <section>
      <h2>Typical Breakpoints</h2>
      <pre><code class="hljs css">
$breakpoint-phone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-xl: 920px;
$breakpoint-desktop-sm: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-lg: 1600px;
      </code></pre>
    </section>
    <section>
      <h4>Revisiting Mobile First</h4>
      <pre><code class="hljs css">
.column {
  width: 100%;
}

@media (min-width: 768px) {
  .column { width: 50%; }
}

@media (min-width: 1024px) {
  .column { width: 33%; }
}
      </code></pre>
    </section>
    <section>
      <h4>VS Responsive</h4>
      <pre><code class="hljs css">
.column {
  width: 33%;
}

@media (min-width: 1px) and (max-width: 767px) {
  .column { width: 100%; }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .column { width: 50%; }
}
      </code></pre>
    </section>
    <section>
      <h2>Not Just For Screen Widths</h2>
      <ul>
        <li class="fragment">Heights</li>
        <li class="fragment">Print</li>
        <li class="fragment">Orientation (kindof)</li>
        <li class="fragment">Clever hacks</li>
      </ul>
    </section>
    <section>
      <h2>Support</h2>
      <p>Everywhere you want to be</p>
      <p class="smaller faded">As long as that means IE9 or better</p>
    </section>
    <section>
      <h2>Learn More</h2>
      <p>
        W3 Schools:
        <a
          target="blank"
          href="https://www.w3schools.com/css/css3_mediaqueries.asp"
        >
          https://www.w3schools.com/css/css3_mediaqueries.asp
        </a>
      </p>
    </section>
  </section>
</template>
