<template>
  <section>
    <h2>Mobile vs Desktop Traffic (2017)</h2>
    <p class="fragment fade-in-then-semi-out">
      63% of all visits were on a mobile device
    </p>
    <p class="fragment fade-in-then-semi-out">
      49% of all time spent on site was from mobile
    </p>
    <p class="fragment fade-in-then-semi-out">
      53% of page views were on mobile
    </p>
  </section>
</template>
