<template>
  <section>
    <section><h1>Mobile Responsive</h1></section>

    <section>
      <h2>What's the idea?</h2>
      <p>Adjust existing content to fit better on mobile</p>
    </section>

    <section>
      <h2>But how?</h2>
      <p>Stack things</p>
      <p>Resize things</p>
    </section>

    <section>
      <div class="stretch resize-h">
        <iframe
          class="stretch"
          data-src="http://localhost:3000/venture-investments/"
        ></iframe>
      </div>
    </section>

    <section>
      <h2>Considerations</h2>
      <p class="fragment fade-in-then-semi-out">
        Relatively low effort to plan for
      </p>
      <p class="fragment fade-in-then-semi-out">
        Implementation requires only HTML/CSS
      </p>
      <p class="fragment fade-in-then-semi-out">
        Many many (CSS) frameworks have this built in
      </p>
      <p class="fragment fade-in-then-semi-out">Easier to retro-fit</p>
    </section>
  </section>
</template>
