<template>
  <section>
    <section><h1>Mobile First</h1></section>

    <section>
      <h2>What's the idea?</h2>
      <p>Design specifically for mobile constraints</p>
    </section>

    <section>
      <h2>But how?</h2>
      <p>Completely change layouts</p>
      <p>Provide different content or interactions</p>
    </section>

    <section>
      <div
        class="stretch resize-h"
        ref="mfirst"
        @click="$refs.mfirst.style.width = '30%';"
      >
        <iframe
          class="stretch"
          data-src="https://www.cousinssubs.com/order/cousins-subs-west-allis-65th-greenfield/"
        ></iframe>
      </div>
    </section>

    <section>
      <h2>Considerations</h2>
      <p class="fragment fade-in-then-semi-out">
        More effort spent in design / content
      </p>
      <p class="fragment fade-in-then-semi-out">
        Optimal implementations require some kind of JS or backend code
      </p>
      <p class="fragment fade-in-then-semi-out">
        There's potentially more breakpoints to content with
      </p>
      <p class="fragment fade-in-then-semi-out">
        Harder to re-work into existing content
      </p>
    </section>
  </section>
</template>
