<template>
  <section>
    <h2>Reaching Mobile Users</h2>
    <div class="box">
      <div class="col fragment fade-in-then-shrink-out">
        <h3>Native App</h3>
        <ul class="smaller">
          <li>Swift/Objective C</li>
          <li>Java (Android)</li>
          <li>Xamarin</li>
          <li>Others ...</li>
        </ul>
      </div>
      <div class="col fragment fade-in-then-shrink-out">
        <h3>Hybrid App</h3>
        <ul class="smaller">
          <li>Ionic</li>
          <li>Cordova</li>
          <li>Quark</li>
          <li>SO MANY OTHERS</li>
        </ul>
      </div>
      <div class="col fragment fade-in">
        <h3>Website</h3>
        <ul class="smaller">
          <li>The Interwebs</li>
        </ul>
      </div>
    </div>
  </section>
</template>
