<template>
  <section>
    <h2>Techniques of the Trade</h2>
    <p class="smaller faded">* cascade all the things</p>
    <p class="fragment fade-in-then-semi-out">Media Queries</p>
    <p class="fragment fade-in-then-semi-out">Flex Box</p>
    <p class="fragment fade-in-then-semi-out">Grid</p>
  </section>
</template>
