<template>
  <section>
    <h2>Which approach is best?</h2>
    <p>Spoiler: all of them</p>
    <div class="fragment">
      <p>Just have to ask:</p>
      <blockquote>What does this look like on mobile?</blockquote>
    </div>
  </section>
</template>
